doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Three.js Test
		link(rel="stylesheet" type="text/css" href="/css/main.css")
			
	body
		block content
		
		script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js")
		script(src="/js/main.js")
			